@page "/"

<div class="mb-5">
    <h4 class="text-primary">Güncelleme (09.07.2021 - 18:32)</h4>
    <ul>
        <li>İndirilen sesler doğrultusunda otomatik olarak tab java dosyaları oluşturuluyor.</li>
    </ul>
</div>

<div>
    <h4 class="text-primary">Güncelleme (15.04.2020 - 21:30)</h4>
    <ul>
        <li>Ses ismi rakamla başlıyorsa; ses dosyası adına ve Raw'ına "a_" prefix'i ekleniyor.</li>
        <li>Ses dosyasının bozuk veya 0KB olduğu durumlarda ses artık indirilmiyor ve soundboard'a dahil edilmiyor.</li>
        <li>Realmofdarknes.net için bot geliştirildi.</li>
    </ul>
</div>